<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>#Desc: 	xunlei lixian
#Use:	lx [command] [arg0] [arg1]
#Ex1:	lx user your_name your_password, lx help, lx config
#Ex2:	lx push, lx push -t, lx push -lf, lx push -tf 
#Ex3:   lx pull [NAME]/[ID]

LOGtoFile=true
#LOG_DIR=~/Downloads
LIXIAN_CLI_PATH=./iambus-xunlei-lixian/lixian_cli.py
export LOGtoFile LOG_DIR LIXIAN_CLI_PATH

sh XLixian.sh {query}</string>
	<key>disabled</key>
	<false/>
	<key>escapequery</key>
	<false/>
	<key>escapequerybackquotes</key>
	<false/>
	<key>escapequerybrackets</key>
	<false/>
	<key>escapequeryquotes</key>
	<false/>
	<key>escapequerysemicolons</key>
	<false/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>lx</string>
	<key>logging</key>
	<false/>
	<key>parameter</key>
	<integer>0</integer>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>添加：lx push ，获取：lx pull [taskID]，设置： lx user [username] [password]，帮助：lx help</string>
	<key>title</key>
	<string>迅雷离线</string>
</dict>
</plist>
